nav.navbar .navbar-item > a {
  color: hsl(0, 0%, 96%);
}

nav.navbar .navbar-item > a:hover {
  color: #ffffff;
  font-weight: bold;
  text-decoration: underline;
}

.navbar-brand > figure {
  margin-top: 0.5em;
}

.navbar-end {
  background-color: hsl(0, 0%, 21%);
}
